
.container {
    text-align: center;
    color: white;
    background-color: #021e2e;
    padding: 3px;

    display: grid;

    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "aside aside aside"
        "footer footer footer"
    ;

}

header, nav, main, aside, footer {
    border: solid 2px white;
}

/* achicar para mobile */

img {
    width: 100px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

nav {
    grid-area: nav;
}

main {
    grid-area: main;

}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.header {
    color: white;
    background-color: black;
    
}

.navigation {
    background-color: black;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    margin: 0 0 0 1px;
    padding: 0.9rem;
    transition: all 0.4 linear;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.navigation ul li a:hover {
    background: #1871a5;
}

.bebida {
    text-align: center;
}

main {
    text-align: center;
}

.div-resaltador {
    background-color: #009ce4;
    text-align: center;

    transition-property: all;
    -o-transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.div-resaltador:hover {
    background-color: green;
}

.footer-distributed {
    background-color: #000000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }

  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }

  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 100%;
  }

  .footer-right img{
    width: 50px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    margin-left: 3px;
    

  }

.main-variedades{
    width: 100%;
}

.item-1 {
    padding: 1rem;
    width: 33%;
    margin: 0px auto;
}

.item-2 {
    margin: 0px auto;
    padding: 1rem;
    width: 33%;
}

.item-3 {
    margin: 0px auto;
    padding: 1rem;
    width: 33%;
}

@media screen and (min-width:768px){
    header {
        flex-direction: row;
        justify-content: space-around;
    }

    .navigation ul li a {
        margin: 0 0 0 75px;
        padding: 0.8rem;
        transition: all 0.4 linear;
        border-radius: 5px;
        color: white;
        text-decoration: none;
    }

    .container {
        text-align: center;
        color: white;
        background-color: #021e2e;
        padding: 3px;

        display: grid;

        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main aside"
            "footer footer footer"
        ;

    }

    .main-variedades{
            width: 100%;
            display: flex;
        }

        .item-1 {
            padding: 1rem;
            width: 33%;
        }

        .item-2 {
            padding: 1rem;
            width: 33%;
        }

        .item-3 {
            padding: 1rem;
            width: 33%;
        }
    }


.block {
	position: relative;
	margin: 50px auto 0;
	width: 100px;
	height: 67px;
	background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}

.nombre-comida {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: transparent;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}
.nombre-comida:after, .nombre-comida:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.nombre-comida:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}
.nombre-comida:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
.nombre-comida:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.nombre-comida:hover:before, .nombre-comida:hover:after {
  width: 100%;
  height: 100%;
}

.container-comida {
    margin: 14px 0 0 0;
  background: transparent;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}